<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table style="margin:0 auto;width:400px;height:200px;border:1px solid ">
    <tr>
        <td>
            <form action="/doLogin" method="post" >
                <input name="userName" type="text" value="" />
                <input name="passWord" type="text" value="" />
                <input name="" type="submit" value="提交" />
            </form>
        </td>
    </tr>
</table>

</body>
</html>