
mybatis:
  type-aliases-package: com.mall.api.entity    # 所有Entity别名类所在包
  mapper-locations:
  - classpath*:**/mapperxml/**/*.xml                       # mapper映射文件

server:
  port: 8010

eureka:
  client:
    serviceUrl:
      defaultZone : http://localhost:10086/eureka/ #eureka服务注册地址
  instance:
    instance-id:  loginProvide

spring:
  application:
    name: login #其他服务调用名称

  datasource:
    url: jdbc:mysql://localhost:3308/universal_mall?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC
    username: root
    password: myoa888
    driver-class-name: com.mysql.jdbc.Driver


